*.*~
/linkedlist/insertAtTheBeginning
/linkedlist/insertAtTheNthPosition
/52problemsolves/solve_1_EvenOrOddOne
/52problemsolves/solve_2_EvenOrOddTwo
/52problemsolves/solve_3_audogamiSonkha
/52problemsolves/solve_4_vajok
/52problemsolves/solve_5_box-1
/52problemsolves/solve_6_jogfolNirnoy
/52problemsolves/stringTest
/52problemsolves/solve_10_runRate
/52problemsolves/solve_7_numberCounting
/52problemsolves/solve_8_SmallToBig
/52problemsolves/solve_9_sqrtroot
/52problemsolves/stringTest2
/52problemsolves/solve_11_factorial
