*.*~
/linkedlist/insertAtTheBeginning
/linkedlist/insertAtTheNthPosition
/52problemsolves/solve_1_EvenOrOddOne
/52problemsolves/solve_2_EvenOrOddTwo
/52problemsolves/solve_3_audogamiSonkha
/52problemsolves/solve_4_vajok
/52problemsolves/solve_5_box-1
/52problemsolves/solve_6_jogfolNirnoy
